html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background-color: black;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

button, h1, h2, span, p {
  font-family: Verdana sans-serif;
  text-transform: uppercase;
}

#mars-rover {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
