.rover{
  position: absolute;
  width: 120px;
  height: 120px;
  background: url("../../../assets/rover.png") no-repeat center center;
  transition: left 1s, top 1s;
  -webkit-transition: left 1s, top 1s;
}

.rover.north {
  transform: rotate(0deg);
}

.rover.west {
  transform: rotate(270deg);
}

.rover.south {
  transform: rotate(180deg);
}

.rover.east {
  transform: rotate(90deg);
}

.rover span {
  position: absolute;
  top: 12px;
  left: 55px;
  font-size: 14pt;
  font-weight: bold;
}
